<!-- <mat-tab-group (selectedTabChange)="getData($event)">
  <mat-tab label="Customer Details">
    <div class="m-5 p-5">
      <table mat-table [dataSource]="userData" class="mat-elevation-z8">
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef>User Id</th>
          <td mat-cell *matCellDef="let user">{{ user.userId }}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let user">{{ user.title }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="accountDetailsColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: accountDetailsColumn"></tr>
      </table>
      <div class="mt-3">
        <mat-paginator
        [length]="dataLength"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="pageEvents($event)"
        showFirstLastButtons
        aria-label="Select page"
        >
      </mat-paginator>
    </div>
    </div>
  </mat-tab>
  <mat-tab label="Vehicle Details"> Content 2 </mat-tab>
  <mat-tab label="Transaction Details">
    Transaction content
  </mat-tab>
</mat-tab-group> -->

<div class="container mt-4 custom-blue p-3 px-0 border rounded">
  <mat-accordion multi>
    <mat-expansion-panel class="custom-blue mat-elevation-z" expanded>
      <mat-expansion-panel-header>
        <p class="fs-5 text-white">Customer Details</p>
      </mat-expansion-panel-header>
      <div>
        <div class="my-2">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <p
                class="nav-link text-white"
                [ngClass]="{ active: currentTab.customer == 'BASIC' }"
                (click)="goToTab('customer', 'BASIC')"
              >
                Details
              </p>
            </li>
            <li class="nav-item">
              <p
                class="nav-link text-white"
                [ngClass]="{ active: currentTab.customer == 'PHONE' }"
                (click)="goToTab('customer', 'PHONE')"
              >
                Phone numbers
              </p>
            </li>
            <li class="nav-item">
              <p
                class="nav-link text-white"
                [ngClass]="{ active: currentTab.customer == 'ADDRESS' }"
                (click)="goToTab('customer', 'ADDRESS')"
              >
                Addresses
              </p>
            </li>
          </ul>
        </div>
        <ng-container *ngIf="currentTab.customer == 'BASIC'">
          <div class="row bg-light border p-3 m-1 rounded border-dark">
            <div class="col-lg-4">
              <div class="d-flex justify-content-between border-bottom mb-3">
                <p>Title</p>
                <p>{{ customerDetail.title }}</p>
              </div>
              <div class="d-flex justify-content-between border-bottom mb-3">
                <p>Customer Number</p>
                <p>{{ customerDetail.customerNumber }}</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="d-flex justify-content-between border-bottom mb-3">
                <p>First</p>
                <p>{{ customerDetail.firstName }}</p>
              </div>
              <div class="d-flex justify-content-between border-bottom mb-3">
                <p>Tax Identifier</p>
                <p>{{ customerDetail.taxIdentifier }}</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="d-flex justify-content-between border-bottom mb-3">
                <p>Last</p>
                <p>{{ customerDetail.lastName }}</p>
              </div>
              <div class="d-flex justify-content-between border-bottom mb-3">
                <p>SSN</p>
                <p>{{ customerDetail.ssn }}</p>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="currentTab.customer == 'PHONE'">
          <div
            class="row bg-light border m-1 rounded border-dark overflow-auto"
          >
            <table
              mat-table
              [dataSource]="listOfPhones"
              class="mat-elevation-z demo-table"
            >
              <ng-container matColumnDef="type" class="border-end border-dark">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let phone">
                  {{ phone.type }}
                </td>
              </ng-container>

              <ng-container
                matColumnDef="phoneNumber"
                class="border-end border-dark"
              >
                <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                <td mat-cell *matCellDef="let phone">
                  {{ phone.phoneNumber }}
                </td>
              </ng-container>

              <ng-container matColumnDef="ext" class="border-end border-dark">
                <th mat-header-cell *matHeaderCellDef>Ext.</th>
                <td mat-cell *matCellDef="let phone">
                  {{ phone.ext }}
                </td>
              </ng-container>

              <ng-container
                matColumnDef="timezone"
                class="border-end border-dark"
              >
                <th mat-header-cell *matHeaderCellDef>Timezone</th>
                <td mat-cell *matCellDef="let phone">
                  {{ phone.timezone }}
                </td>
              </ng-container>

              <ng-container
                matColumnDef="relationship"
                class="border-end border-dark"
              >
                <th mat-header-cell *matHeaderCellDef>Relationship</th>
                <td mat-cell *matCellDef="let phone">
                  {{ phone.relationship }}
                </td>
              </ng-container>

              <ng-container
                matColumnDef="inService"
                class="border-end border-dark"
              >
                <th mat-header-cell *matHeaderCellDef>In service</th>
                <td mat-cell *matCellDef="let phone">
                  {{ phone.inService }}
                </td>
              </ng-container>

              <ng-container
                matColumnDef="acNumber"
                class="border-end border-dark"
              >
                <th mat-header-cell *matHeaderCellDef>A/C Number</th>
                <td mat-cell *matCellDef="let phone">
                  {{ phone.acNumber }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="phoneColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: phoneColumns"></tr>
            </table>
          </div>
          <div class="m-3 d-flex justify-content-end gap-3">
            <button class="btn btn-light">
              <i class="bi bi-chevron-left"></i> Previous
            </button>
            <button class="btn btn-light">
              Next <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </ng-container>

        <ng-container *ngIf="currentTab.customer == 'ADDRESS'">
          <div
            class="row bg-light border m-1 rounded border-dark overflow-auto"
          >
            <table
              mat-table
              [dataSource]="listOfAddress"
              class="mat-elevation-z demo-table"
            >
              <ng-container matColumnDef="type" class="border-end border-dark">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let address">
                  {{ address.type }}
                </td>
              </ng-container>

              <ng-container
                matColumnDef="address"
                class="border-end border-dark"
              >
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let address">
                  {{ address.address }}
                </td>
              </ng-container>

              <ng-container
                matColumnDef="active"
                class="border-end border-dark"
              >
                <th mat-header-cell *matHeaderCellDef>Active</th>
                <td mat-cell *matCellDef="let address">
                  {{ address.active }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="addressColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: addressColumns"></tr>
            </table>
          </div>
          <div class="m-3 d-flex justify-content-end gap-3">
            <button class="btn btn-light">
              <i class="bi bi-chevron-left"></i> Previous
            </button>
            <button class="btn btn-light">
              Next <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </ng-container>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="custom-blue mat-elevation-z" expanded>
      <mat-expansion-panel-header>
        <p class="fs-5 text-white">Accounts</p>
      </mat-expansion-panel-header>
      <div>
        <div class="my-2">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <p
                class="nav-link text-white"
                [ngClass]="{ active: currentTab.account == 'BASIC' }"
                (click)="goToTab('account', 'BASIC')"
              >
                Details
              </p>
            </li>
            <li class="nav-item">
              <p
                class="nav-link text-white"
                [ngClass]="{ active: currentTab.account == 'LOAN_DETAILS' }"
                (click)="goToTab('account', 'LOAN_DETAILS')"
              >
                Loan Details
              </p>
            </li>
            <li class="nav-item">
              <p
                class="nav-link text-white"
                [ngClass]="{
                  active: currentTab.account == 'PAYMENT_SCHEDULES'
                }"
                (click)="goToTab('account', 'PAYMENT_SCHEDULES')"
              >
                Payment Schedules
              </p>
            </li>
          </ul>
        </div>
      </div>
      <ng-container *ngIf="currentTab.account == 'BASIC'">
        <div class="row bg-light border p-3 m-1 rounded border-dark">
          <div class="col-lg-4">
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Account Number</p>
              <p>{{ accountDetail.accountNumber }}</p>
            </div>
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Account Status</p>
              <p>{{ accountDetail.accountStatus }}</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Contract Date</p>
              <p>{{ accountDetail.contractDate }}</p>
            </div>
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Closed Date</p>
              <p>{{ accountDetail.closedDate }}</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Payoff Date</p>
              <p>{{ accountDetail.payoffDate }}</p>
            </div>
            <!-- <div class="d-flex justify-content-between border-bottom mb-3">
              <p>SSN</p>
              <p>{{ accountDetail.ssn }}</p>
            </div> -->
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="currentTab.account == 'LOAN_DETAILS'">
        <div class="row bg-light border p-3 m-1 rounded border-dark">
          <div class="col-lg-4">
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Loan Balance</p>
              <p>{{ accountDetail.loanDetails.loanBalance }}</p>
            </div>
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Interest Recieable Rounded</p>
              <p>{{ accountDetail.loanDetails.interestRecieableRounded }}</p>
            </div>
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Payoff Amount</p>
              <p>{{ accountDetail.loanDetails.payoffAmount }}</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Accrual Rate</p>
              <p>{{ accountDetail.loanDetails.accrualRate }}</p>
            </div>
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Original Amount</p>
              <p>{{ accountDetail.loanDetails.originalAmount }}</p>
            </div>
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>APR</p>
              <p>{{ accountDetail.loanDetails.APR }}</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Overpayment Amount</p>
              <p>{{ accountDetail.loanDetails.overpaymentAmount }}</p>
            </div>
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Interest Paid Life</p>
              <p>{{ accountDetail.loanDetails.interestPaidLifetoDate }}</p>
            </div>
            <div class="d-flex justify-content-between border-bottom mb-3">
              <p>Maturity Date</p>
              <p>{{ accountDetail.loanDetails.maturityDate }}</p>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="currentTab.account == 'PAYMENT_SCHEDULES'">
        <div
        class="row bg-light border m-1 rounded border-dark overflow-auto"
      >
        <table
          mat-table
          [dataSource]="listOfPaymentSchedules"
          class="mat-elevation-z demo-table"
        >
          <ng-container matColumnDef="startDate" class="border-end border-dark">
            <th mat-header-cell *matHeaderCellDef>Start Date</th>
            <td mat-cell *matCellDef="let phone">
              {{ phone.startDate }}
            </td>
          </ng-container>

          <ng-container
            matColumnDef="endDate"
            class="border-end border-dark"
          >
            <th mat-header-cell *matHeaderCellDef>End Date</th>
            <td mat-cell *matCellDef="let phone">
              {{ phone.endDate }}
            </td>
          </ng-container>

          <ng-container matColumnDef="frequency" class="border-end border-dark">
            <th mat-header-cell *matHeaderCellDef>Frequency</th>
            <td mat-cell *matCellDef="let phone">
              {{ phone.frequency }}
            </td>
          </ng-container>

          <ng-container
            matColumnDef="payments"
            class="border-end border-dark"
          >
            <th mat-header-cell *matHeaderCellDef>Payments</th>
            <td mat-cell *matCellDef="let phone">
              {{ phone.payments }}
            </td>
          </ng-container>

          <ng-container
            matColumnDef="amount"
            class="border-end border-dark"
          >
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let phone">
              {{ phone.amount }}
            </td>
          </ng-container>

          <ng-container
            matColumnDef="paymentType"
            class="border-end border-dark"
          >
            <th mat-header-cell *matHeaderCellDef>Payment Type</th>
            <td mat-cell *matCellDef="let phone">
              {{ phone.paymentType }}
            </td>
          </ng-container>

          <ng-container
            matColumnDef="leadDays"
            class="border-end border-dark"
          >
            <th mat-header-cell *matHeaderCellDef>Lead Days</th>
            <td mat-cell *matCellDef="let phone">
              {{ phone.leadDays }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="paymentColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: paymentColumns"></tr>
        </table>
      </div>
      <div class="m-3 d-flex justify-content-end gap-3">
        <button class="btn btn-light">
          <i class="bi bi-chevron-left"></i> Previous
        </button>
        <button class="btn btn-light">
          Next <i class="bi bi-chevron-right"></i>
        </button>
      </div>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
