.custom-blue{
    background-color: rgb(147, 170, 233);
}

.active{
    color: #000 !important;
}

p{
    margin-bottom: 0;
}

td, th{
    border-right: 1px solid gray;
}

th{
    font-weight: bold;
}